body {
  background: url("/images/piano.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
  padding: 0;
}

.header {
  background-color: rgba(0, 0, 0, .8);
  border-radius: 10px;
  text-align: center;
  border: 2px solid orange;
  margin-top: 20px;
  h1 {
    color: orange;
  }
}
