.button-container {
  height: 60px;
  text-align: center;
  vertical-align: middle;
  .button {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    height: 30px;
    width: 30%;
    background-color: rgb(0, 223, 128);
    border: 2px solid white;
    color: white;
    transition: width .3s, height .3s, padding .3s, background-color .3s, border .1s;
  }
  .button:hover {
    margin-bottom: 12px;
    padding-top: 2px;
    height: 35px;
    width: 35%;
    border: 3px solid white;
    background-color: rgb(10, 149, 62);
    text-decoration: none;
  }
}

ul {
  padding-left: 30px !important;
  .joke-list {
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    list-style-type: none;
    border-radius: 10px;
    border: 3px solid black;
    margin-bottom: 20px;
    .joke-list-item-container {
      .firstH3 {
        margin-top: 10px;
      }
      h3 {
        margin: 0;
        text-align: left;
      }
      .joke-list-item {
        text-align: left;
        color: orange;
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 17px;
      }
    }
    .joke-list-joke {
      border-top: 3px solid black;
      padding-top: 20px;
      margin-top: 20px;
      color: orange;
      margin-bottom: 0px;
      word-break: break-all;
    }
    .joke-list-edit {
      text-align: center;
      padding-top: 120px;
      a {
        color: orange;
        font-size: 20px;
        text-decoration: none;
      }
    }
  }
}
